<html lang="^meta_lang^" ng-app="pencilblueApp">

<head>

 <meta charset="UTF-8"/>

 <title>Home</title>
    <!-- <meta name="robots" content="noindex"/>
    <meta name="description" content="^meta_desc^"/>
    <meta property="og:locale" content="^meta_lang^"/>
    <meta property="og:title" content="^meta_title^"/>
    <meta property="og:description" content="^meta_desc^"/>
   
    <meta property="og:image" content="^meta_thumbnail^"/> -->
    <meta property="og:site_name" content="Inquilinus"/>
    <!--  ^localized_alternate^ -->
    <!-- <link rel="shortcut icon" href="^site_icon^"/> -->
    <meta property="og:url" content="localhost:8083"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- <link rel="stylesheet" type="text/css" href="^font_awesome_src^"/> -->



    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- GOOGLE ICONS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css"/>
    <!-- ROBOTO Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"/>
    <!-- Fim Telatron-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <!-- <script type="text/javascript" src="^angular_route_src^"></script> -->
    <!-- <script type="text/javascript" src="^angular_sanitize_src^"></script> -->

    <!-- TelaTron TODO Passar para settings do theme-->
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <!-- Fim TelaTron -->
</head>
<body ng-controller="PencilBlueController" ng-cloak>
    <!-- BIG-CONTAINER -->
    <div id="big-container" layout="column" layout-fill md-theme="my-teal">


        ^tmp_base=elements=top_menu^
        <div flex id="main-container" layout="row" layout-fill>

            ^tmp_base=elements=telatron_left_menu^
